.section__title {
    margin-bottom: 10px;

    @include font (700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--title-color);
}

.benefits__text {
     @include font (400, 14px, 1.71, 0.03em);
    color: var(--primary-text-color);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
     @media screen and (min-width: 1200px) {
         padding-top: 94px;
         padding-bottom: 94px;

     }
}

.benefits {
    
     @media screen and (min-width: 768px) {
         display: flex;
         flex-wrap: wrap;
         
     }
     @media screen and (min-width: 1200px) {
         display: flex;
         flex-wrap: nowrap;
     }
    
}

.benefits__item {
  
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        
        width: calc(100% / 2 - 30px);
        margin-right: 30px;
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
        &:nth-child(2n + 2) {
            margin-right: 0;
        }
        flex-grow: 1;
    }
     @media screen and (min-width: 1200px) {
         margin-bottom: 0;
         margin-right: 30px;
     }
}

.benefits__link {
    
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.benefits__svg {
    width: 70px;
    height: 70px;
}

.benefits__bk {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.benefits__title {
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--title-color);
     @media screen and (max-width: 767px) {
         text-align: center;
     }
     
}