.section__title--clients {
    margin-bottom: 30px;
     @include font (700, 28px, 1.18, 0.03em);
    text-align: center;
    color: var(--title-color);
    
    @media screen and (min-width: 1200px) {
         @include font (700, 36px, 1.17, 0.03em);
         margin-bottom: 50px;
    }
}

.clients {
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.clients__svg {
    width: 106px;
    height: 60px;
    fill: var(--social-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     .clients__link:hover &,
     .clients__link:focus & {
         fill: var(--accent-color);
     }
}

.clients__list {
     width: calc(100% / 2 - 30px);
     height: 92px;
     margin-left: 30px;
     margin-bottom: 30px;

     &:nth-last-child(-n + 2) {
         margin-bottom: 0;
     }

     @media screen and (min-width: 768px) {

         width: calc(100% / 3 - 30px);

         &:nth-last-child(-n + 3) {
             margin-bottom: 0;
         }

     }

     @media screen and (min-width: 1200px) {
         margin-right: 30px;
         margin-bottom: 0;
     }
}
   

.clients__link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }

}

