 .footer {
     background-color: #2F303A;
     max-width: 100%;
     text-align: center;
     padding: 60px 0;
     .container {
         padding: 0 15px;
         
     }

      @media screen and (min-width: 1200px) {
          display: flex;
          align-items: baseline;
          justify-content: space-around;
        
      }

 }

 .footer__part {
      @media screen and (min-width: 1200px) {
          flex-grow: 1;
          margin-right: 70px;
      } 
 }

 .footer__flex {
     @media screen and (min-width: 768px) {
          display: flex;
          align-items: baseline;
          justify-content: space-around;
     }

    
 }

 .footer__link {
     @include font (400, 14px, 1.71, 0.03em);
      font-style: normal;
     color: rgba(255, 255, 255, 0.6);

 }

 .footer__svg {
     width: 20px;
     height: 20px;
 }


//  .footer__block {
//       @media screen and (min-width: 1200px) {
//             margin-left: 70px;
//             margin-right: 93px;
//       }
   
//  }

 .footer__item {
     margin-bottom: 8px;
     &:last-child {
         margin-bottom: 0;
     }
     @media screen and (min-width: 1200px) {
          margin-bottom: 9px;

          &:last-child {
              margin-bottom: 0;
          }
     }
 }

 .footer__list {
     margin-bottom: 60px;
     @media screen and (min-width: 1200px) {
         margin-bottom: 0;
         text-align: start;
     }
 }

 .footer__logo {
     display: block;
     margin-bottom: 10px;
     padding: 0 0;
         margin-left: auto;
         margin-right: auto;
     @media screen and (min-width: 1200px) {
       text-align: start;

     }

 }

 .address__link {
     color: #FFFFFF;
 }

 .footer__soc {

     display: flex;
     justify-content: center;
     margin-bottom: 60px;
     @media screen and (min-width: 768px) {
         margin-bottom: 0;
     }
    
 }

 .footer__title {
    @include font (700, 14px, 1.14, 0.03em);
     text-transform: uppercase;
     color: #FFFFFF;
     margin-bottom: 20px;
      @media screen and (min-width: 768px) {
          margin-bottom: 20px;

      }
 }


 .subscribe__input {

     max-width: 100%;
     height: 50px;
     background-color: transparent;
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-sizing: border-box;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     color: #FFFFFF;
     border-radius: 4px;
     padding: 15px 16px;
    margin-bottom: 20px;
     @media screen and (min-width: 1200px) {
         margin-right: 12px;
         margin-bottom: 0;
     }
     &.subscribe__input::placeholder {
         font-size: 16px;
         line-height: 1.25;
         display: flex;
         align-items: center;
         letter-spacing: 0.03em;
         color: rgba(255, 255, 255, 0.6);
     }

 }

 .subscribe__svg {
     
     width: 24px;
     height: 24px;
     margin-left: 10px;
  
 }

 .subscribe__btn{
    
     display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
    // text-align: center;
    
 }
 
 .subscribe {
     display: block;
       @media screen and (min-width: 1200px) {
           display: flex;
       }
     
 }

 .soc__link--color {
     fill: #FFFFFF;
 }

 .social__item {
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
 }
     