header {
    border-bottom: 1px solid var(--border-color);
   
}

.site-nav__item {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

.contact__item {
    margin-bottom: 10px;
     @media screen and (min-width: 1200px) {
          margin-right: 50px;

          &:last-child {
              margin-right: 0;
          }
     }
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

     @include font (500, 14px, 1.14, 0.02em);
    color: var(--nav-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
     
}

.contact__link {
   
    display: flex;
    flex-direction: row-reverse;
    @include font (500, 12px, 1.17, 0.02em);
    color: var(--primary-text-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
         padding-top: 32px;
         padding-bottom: 32px;
         @include font (500, 14px, 1.14, 0.02em);

    }
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
   
}

.header__nav {
    display: flex;
    align-items: center;
   
}

.site-nav {
    display: none;
     @media screen and (min-width: 768px) {
         display: flex;
         margin-right: 84px;
        
     }
}

.contact {
    display: none;
    
     @media screen and (min-width: 768px) {
         display: block;
     }
     @media screen and (min-width: 1200px) {
         display: flex;
    
     }
}


.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}

.open-mob-menu {
    position: absolute;
    top: 22px;
    right: 22px;
  
   display: flex;
   margin-left: auto;
  
   align-items: baseline;
   background: transparent;
   border: none;
   transition: tra 250ms cubic-bezier(0.4, 0, 0.2, 1);
   cursor: pointer;

   &:focus,
   &:hover {
       fill: var(--accent-color);
   }
   @media screen and (min-width: 768px) {
       display: none;
   }
  
}
.menu__close-button{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    margin-left: auto;
    background: transparent;
    border: none;
    transition: tra 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

.mob-menu {
    position: fixed;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 48px 40px;
.container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
    
.menu__item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}

.menu-contact__item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    
}
.menu-contact__list {
    margin-bottom: 64px;
}
.menu-nav__link {
     @include font (500, 40px, 1.18, 0.02em);
     color: var(--nav-color);
   &:hover,
   &:focus {
       color: var(--accent-color);
   }
     
}

.menu-tel__link {
    @include font (500, 34px, 1.18, 0.02em);
    color: var(--accent-color);
}

.menu-mail__link {
     @include font (500, 24px, 1.17, 0.02em);
     color: var(--primary-text-color);
}

.menu-soc__list {
    display: flex;

}

.menu-soc__item {
    margin-left: -10px;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}
.menu-soc__item + .menu-soc__item::before {
    content: ' ';
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
   }

.menu-soc__link {
     @include font (500, 18px, 1.22, 0.02em);
     color: var(--accent-color);
}