.logo {
    font-family: Raleway;
    @include font (700, 26px, 1.19, 0.03em);
    color: #000000;
    padding: 16px 15px;
     @media screen and (min-width: 767px) {
        padding: 26px 15px;
        margin-right: 88px;
     }
     @media screen and (min-width: 1200px) {
         margin-right: 93px;

     }
}

.logo__part {
    color: #2196F3;
}

.logo--color {
    color: #FFFFFF;
}
