.projeсts__button {
    border: transparent;
    padding: 6px 22px;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
    @include font (500, 16px, 1.62, 0.03em);
    color: var(--nav-color);
    background: #F5F4FA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            color: #FFFFFF;
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);

        }
}

.projeсts {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 40px;
    
     @media screen and (min-width: 768px) {
         margin-bottom: 30px;
          justify-content: center;
     }
      @media screen and (min-width: 1200px) {
          margin-bottom: 50px;
      }
    
}

.projects__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
    display: block;
    margin-right: 8px;
    &:last-child {
        margin-right: 0;
    }

}

