
.site-nav--current {
    color: var(--accent-color);
    &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        position: absolute;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
    }
}

